* {margin:0; padding:0; box-sizing: border-box}

body{
    background-color:black;
    color:white;
}

.container{
    overflow-x:hidden;
    overflow-x:clip !important;
}

nav{
    display:flex;
    justify-content:flex-end;
    font-family:'Lustria';
    font-size:max(1.1rem, 1.1vw);
}

@media (max-width:986px){
    nav{
        display:none;
    }
}

nav a, footer a{
    text-decoration:none;
    padding:1em;
}

nav a:link, footer a:link{
    color:white;
}

nav a:visited, footer a:visited{
    color:white;
}

#address::before{
    content:"";
    display:inline-block;
    width:25px;
    height:25px;
    margin-right:2px;
    background:url('../img/address.svg') no-repeat;
    background-size:contain;
    vertical-align:middle;
}

#phone::before{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    margin-right:6px;
    background:url('../img/phone.svg') no-repeat;
    background-size:contain;
    vertical-align:middle;
} 

#email::before{
    content:"";
    display:inline-block;
    width:25px;
    height:25px;
    margin-right:5px;
    background:url('../img/email.svg') no-repeat;
    background-size:contain;
    vertical-align:middle;
}

@media (min-width:2700px){
    #address::before, #phone::before, #email::before{
        width:40px;
        height:40px;
    }
}

#address, #phone, #email{
    animation:slideMe .7s ease-in-out;
}

@keyframes slideMe{
    0%{
        transform:translateY(-50px);
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.hero img, .intro-img img{
    position:relative;
    width:100%;
    animation:fadeIn 2s;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.logo{
    position:absolute;
    top:10%;
    left:1%;
}

@media (max-width:986px){
    .logo{
        top:1%;
    }
}

.logo img{
    width:100%;
    height:100%;
}

@media (max-width:770px){
    .logo img{
        width:70%;
    }
}

h1{
    font-family:'Lustria';
    font-weight:normal;
    text-align:center;
    padding:1.5em;
    font-size:clamp(1.8rem, 2.1vw, 4rem);
}

hr{
    max-width:700px;
    margin:0 auto;
    border:0;
    border-top:1px solid #437086;
    animation:slideMeX .7s ease-in-out;
}

@keyframes slideMeX{
    0%{
        transform:translateX(-200px);
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.main-buttons{
    display:flex;
    justify-content:center;
    gap:3em;
    text-align:center;
    padding:3em;
}

section.main-buttons > a > button{
    font-family:'Kantumruy Pro';
    font-size:max(1.2rem, 1.1vw);
    color:white;
    font-weight:bold;
    border-radius:50px;
    padding:.7em 1.3em .7em 1.3em;
    background-color:#FF7300;
    border:none;
}

section.main-buttons > a > button:hover{
    background-color:#437086;
    cursor:pointer;
    transition:all 0.3s ease-in-out;
}

.intro{
    background-image:url('../img/blue-bg.png');
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:3em;
}

.intro p{
    font-family:'Kantumruy Pro';
    /*font-size:1.3rem;*/
    font-size:max(1.2rem, 1.2vw);
    padding:1em;
    line-height:2.3;
    width:min(2500px, calc(40% + 200px));
    /*width:900px;*/
    margin:0 auto;
    text-align:justify;
}

.intro-img{
    margin-bottom:5em;
}

#orange-w::before{
    content:"";
    display:inline-block;
    width:70px;
    height:70px;
    margin-right:-48px;
    background:url('../img/orange.png') no-repeat;
    background-size:contain;
    vertical-align:bottom;
    animation: rotate-in-down-left 2s ease;
}

@media (max-width:1450px){
    #orange-w::before{
        margin-right:-40px;
        margin-bottom:-5px;
    }
}

@media (min-width:2204px){
    #orange-w::before{
        width:90px;
        height:90px;
        margin-right:-60px;
    }
}

@media (min-width:2608px){
    #orange-w::before{
        width:100px;
        height:100px;
        margin-right:-75px;
    }
}

#orange-d::before{
    content:"";
    display:inline-block;
    width:60px;
    height:60px;
    margin-right:-35px;
    background:url('../img/orange.png') no-repeat;
    background-size:contain;
    vertical-align:bottom;
    animation: rotate-in-down-left 2s ease;
}

@media (max-width:1650px){
    #orange-d::before{
        margin-right:-30px;
    }
}

@media (min-width:2050px){
    #orange-d::before{
        width:90px;
        height:90px;
        margin-right:-45px;
    }
}

@media (min-width:2360px){
    #orange-d::before{
        width:100px;
        height:100px;
        margin-right:-55px;
    }
}

span{
    position:relative;
    color:black;
    font-weight:bold;
}


@keyframes rotate-in-down-left {
    0% {
      transform-origin: left bottom;
      transform: rotate(-90deg);
      opacity: 0;
    }
    100% {
      transform-origin: left bottom;
      transform: rotate(0);
      opacity: 1;
    }
}

.services{
    background-image:url('../img/blue-bg.png');
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:2em;
    display:flex;
    justify-content:center;
    gap:13%;
    padding:2em;
}

ul{
    padding-left:2em;
}

li{
    font-family:'Kantumruy Pro';
    font-size:max(1.2rem, 1.2vw);
    line-height:2;
}

li::marker{
    color:#FF7300;
}

footer{
    display:flex;
    gap:10%;
    justify-content:space-between;
    padding-inline:3em;
    margin-bottom:1em;
}

@media (max-width:1100px){
    footer{
        flex-direction:column;
        align-items:center;
    }
}

.footer-logo{
    margin-top:5em;
    min-width:20%;
    height:10%;
}

@media (max-width:1020px){
    .footer-logo{
        margin-top:0;
        padding:1em;
    }
}

.footer-info{
    font-size:max(1rem, 1vw);
    display:flex;
    flex-direction:column;
    width:100%;
    height:400px;
}

iframe{
    padding-bottom:1em;
}

.footer-info a{
    font-family:'Lustria';
    padding:.2em;
}

.footer-cta{
    display:flex;
    flex-direction:column;
    font-family:'Lustria';
    margin-top:3em;
}

@media (max-width:1020px){
    .footer-cta{
        flex-direction:row;
    }
}

div.footer-cta > button{
    font-family:'Kantumruy Pro';
    font-size:max(1rem, .9vw);
    color:white;
    font-weight:bold;
    border:2px solid #FF7300;
    border-radius:50px;
    padding:.7em;
    background-color:black;
}

div.footer-cta > button:hover{
    border:2px solid #437086;
    transition:all 0.3s ease-in-out;
}

.copyright{
    font-family:'Kantumruy Pro';
    font-size:max(.8rem, .8vw);
    text-align:center;
    padding:1em;
    color:#727272;
}

.services-p{
    display:flex;
    margin-bottom:3em;
    justify-content:center;
    align-items:center;
    background-image:url('../img/blue-bg.png');
    background-repeat:no-repeat;
    background-size:cover;
}

@media (max-width:927px){
    .services-p{
        flex-direction:column;
    }
}

.services-p p{
    font-family:'Kantumruy Pro';
    font-size:max(1.2rem, 1.2vw);
    padding:2em;
    line-height:2.3;
    max-width:900px;
    text-align:justify;
}

@media (min-width:2950px){
    .services-p p{
        max-width:1500px;
    }

    p#boxes, p#office{
        max-width:2500px;
    }
}

img#binders{
    width:100%;
    height:auto;
    padding:1em;
}

img#boxes, img#office{
    display:block;
    margin:0 auto;
    min-width:250px;
    max-width:100%;
    height:auto;
    padding:1em;
}

span.orange-text{
    color:#FF7300;
    font-weight:normal;
}

.form{
    width:40%;
    margin:0 auto;
}

.basic-info{
    font-family:'Kantumruy Pro';
    background-image:url(../img/blue-bg.png);
    background-repeat:no-repeat;
    background-size:cover;
    padding:2em 0 3.5em 0;
    line-height:2.3;
}

label#basic-info{
    font-size:max(1.2rem, 1.1vw);
    margin-left:15px;
}

.dots{
    color:#FF7300;
}

input#full-name, input#company, input#email-add, input#phone-num{
    color:white;
    font-size:max(1rem, 1vw);
    background-color:black;
    width:100%;
    height:30px;
    padding-left:10px;
    outline:2px solid #437086;
    border:none;
    border-radius:5px;
}

textarea#message{
    font-family:'Kantumruy Pro';
    color:white;
    font-size:max(1rem, 1vw);
    background-color:black;
    width:100%;
    height:200px;
    padding:1em;
    outline:2px solid #437086;
    border:none;
    border-radius:5px;
}

input#full-name[type=text]:focus, input#company[type=text]:focus, input#email-add[type=text]:focus, input#phone-num[type=text]:focus{
    outline:2px solid #FF7300;
}

textarea:focus{
    outline:2px solid #FF7300 !important;
}

textarea::placeholder{
    color: #FF7300;
  }

textarea:focus::placeholder {
    color:transparent;
}  

.submit{
    padding:3em;
    width:fit-content;
    margin:0 auto;
}

input[type=submit]{
    font-family:'Kantumruy Pro';
    font-size:max(1.2rem, 1.1vw);
    color:white;
    font-weight:bold;
    border-radius:50px;
    padding:.7em 1.5em .7em 1.5em;
    background-color:#FF7300;
    border:none;
}

input[type=submit]:hover{
    background-color:#437086;
    cursor:pointer;
    transition:all 0.3s ease-in-out;
}

footer.inquire{
    border-top:2px solid #437086;
    padding-top:3em;
}